.Blog-container{
    
    padding: 50px 150px;
}
.Blog-container .Question{
    border-radius: 25px 0;
    margin: 35px 0;
    background-color: antiquewhite;
    box-shadow: -4px -11px 60px -10px rgba(0,0,0,0.35);
}
.Blog-container .Question h1{
     text-align: center;
     padding: 50px;
}
.Blog-container .Question p{
    padding: 25px;
    font-size: 30px;
    text-align: center;
}



@media only screen and (max-width:1250px){
    .Blog-container{
        padding: 50px 100px;
    }
    .Blog-container .Question h1{
        padding-bottom: 0px;
    }
    .Blog-container .Question p{
        padding-top: 0;
        margin-top: 0;
    }

}
@media only screen and (max-width:565px){
    .Blog-container{
        padding: 50px 30px;
    }
}
